<section class="blog">
  <div class="container">
    <h3 class="title blog__title">From Our Blog</h3>
    <p class="text blog__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe
      tempor incididunt ut labore et dolore aliqua.
    </p>
    <ul class="list-reset blog__items">
      <li class="blog-item">
        <a href="#" class="blog-item__img">
          <img src="img/blog_1.jpg" alt="blog" />
        </a>
        <div class="blog-item__content">
          <div class="blog-item__meta">
            <a class="blog-item__author" href="#">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
              by Admin
            </a>
            <a href="#" class="blog-item__time">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#time"></use>
              </svg>
              10 January, 2020
            </a>
          </div>
          <a href="#" class="blog-item__title">Our Apps User Use Mobile On His Mobile</a>
          <a href="" class="blog-item__link">Read More
            <svg class="blog-item__arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="blog-item">
        <a href="#" class="blog-item__img">
          <img src="img/blog_2.jpg" alt="blog" />
        </a>
        <div class="blog-item__content">
          <div class="blog-item__meta">
            <a class="blog-item__author" href="#">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
              by Admin
            </a>
            <a href="#" class="blog-item__time">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#time"></use>
              </svg>
              10 January, 2020
            </a>
          </div>
          <a href="#" class="blog-item__title">Our Apps User Use Mobile On His Mobile</a>
          <a href="" class="blog-item__link">Read More
            <svg class="blog-item__arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
       <li class="blog-item">
        <a href="#" class="blog-item__img">
          <img src="img/blog_3.jpg" alt="blog" />
        </a>
        <div class="blog-item__content">
          <div class="blog-item__meta">
            <a class="blog-item__author" href="#">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#user"></use>
              </svg>
              by Admin
            </a>
            <a href="#" class="blog-item__time">
              <svg class="blog-item__icon">
                <use xlink:href="img/sprite.svg#time"></use>
              </svg>
              10 January, 2020
            </a>
          </div>
          <a href="#" class="blog-item__title">Our Apps User Use Mobile On His Mobile</a>
          <a href="" class="blog-item__link">Read More
            <svg class="blog-item__arrow">
              <use xlink:href="img/sprite.svg#arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
