<section class="category-info">
  <div class="container">
    <div class="info">
      <div class="info__item">
        <img src="img/icon-1.svg" alt="icon" class="info__img" />
        <h4 class="info__title">Free Shipping Order $100</h4>
        <h4 class="info__text">
          Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
        </h4>
      </div>
      <div class="info__item">
        <img src="img/icon-2.svg" alt="icon" class="info__img" />
        <h4 class="info__title">30 Days Easy Return</h4>
        <h4 class="info__text">
          Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
        </h4>
      </div>
      <div class="info__item">
        <img src="img/icon-3.png" alt="icon" class="info__img" />
        <h4 class="info__title">24/7 Customer Support</h4>
        <h4 class="info__text">
          Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
        </h4>
      </div>
    </div>
    <div class="category">
      <h2 class="title category__title">TOP CATEGORIES</h2>
      <p class="text text__title">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo
        tempor ut labore et dolore aliqua.
      </p>
      <div class="category__items">
        <div
          class="category__item"
          style="background-image: url('img/category-1.jpg')"
        >
          <div class="category__subtitle">Up To 40% Off</div>
          <h4 class="category__caption">Shoes & Jewellry</h4>
          <a href="#" class="category__link">EXPLORE MORE</a>
        </div>
        <div
          class="category__item"
          style="background-image: url('img/category-2.jpg')"
        >
          <div class="category__subtitle">New Arrival</div>
          <h4 class="category__caption">Clothes & Accessories</h4>
          <a href="#" class="category__link">EXPLORE MORE</a>
        </div>
        <div
          class="category__item"
          style="background-image: url('img/category-3.jpg')"
        >
          <div class="category__subtitle">Trending Now</div>
          <h4 class="category__caption">Men’s Fashion</h4>
          <a href="#" class="category__link">EXPLORE MORE</a>
        </div>
        <div
          class="category__item"
          style="background-image: url('img/category-4.jpg')"
        >
          <div class="category__subtitle">Hot Collection</div>
          <h4 class="category__caption">Girl’s Fashion</h4>
          <a href="#" class="category__link">EXPLORE MORE</a>
        </div>
      </div>
    </div>
  </div>
</section>
