<section class="fashion">
  <div class="container">
    <div class="fashion__inner">
      <div class="video-block fashion__video-block">
        <button class="btn-reset video-block__play">
          <img src="img/play-btn.svg" alt="Play video" />
        </button>
        <div class="video-block__video">
          <video poster="img/video-poster.jpg" loop mute preload="metadata" src="fashion.mp4"></video>
        </div>
      </div>
      <div class="fashion__content">
        <span class="subtitle fashion__subtitle">Winter Collection 20% Off</span>
        <h3 class="title title--left fashion__title">TRENDING FASHION</h3>
        <p class="text text--left fashion__text">
          Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod
          temp incididunt ut labore et dolore magna aliqua consectetur
          adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore
          magna aliqua.. Quis ipsum de ultcesm. Risus commodo viverra maecenas.
        </p>
        <a href="" class="fashion__link">VIEW NOW</a>
      </div>
    </div>
  </div>
</section>
