<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__item footer-top__contact">
        <a href="#" class="logo footer-top__logo">
          <img src="img/logo.svg" alt="" class="logo__img" />
        </a>
        <a href="#" class="footer-top__address">
          No. 342 - London Oxford Street, 012 United Kingdom
        </a>
        <a href="#" class="footer-top__email"> Youremail@gmail.com </a>
        <a href="#" class="footer-top__phone"> +0283 838 8393 </a>
        <ul class="list-reset social" title="">
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <img src="img/facebook.png" alt="" class="social__img" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <img src="img/twitter.png" alt="" class="social__img" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <img src="img/linkedin.png" alt="" class="social__img" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <img src="img/google.png" alt="" class="social__img" />
            </a>
          </li>
          <li class="social__item">
            <a href="#" target="_blank" class="social__link">
              <img src="img/pinterest.png" alt="" class="social__img" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-top__item footer-top__nav">
        <h6 class="footer-top__title">Useful Links</h6>
        <ul class="list-reset footer-top__list">
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">About Us</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Privacy Policy</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Terms & Conditions</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Contact Us</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Help & Support</a>
          </li>
        </ul>
      </div>
      <div class="footer-top__item footer-top__nav">
        <h6 class="footer-top__title">My Account</h6>
        <ul class="list-reset footer-top__list">
          <li class="footer-top__item">
            <a href="#" class="footer-top__link"> My Account</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">My Cart</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">My WIshlist</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link">Registration</a>
          </li>
          <li class="footer-top__item">
            <a href="#" class="footer-top__link"> Check Out</a>
          </li>
        </ul>
      </div>
      <div class="footer-top__item footer-top__form">
        <h6 class="footer-top__title">Subscribe Our Newsletter</h6>
        <p class="footer-top__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
          suspendisse ultrices gravida.
        </p>
        <form action="#" class="footer-top__form">
          <label class="form__label">
            <input
              type="text"
              name="Имя"
              class="input-reset footer-top__input"
              placeholder="Your email address"
            />
          </label>
          <button class="btn-reset footer-top__btn" type="submit">
            Subscribe
          </button>
        </form>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom__copy">© 2019 CodeAstrology. All Rights Reserved.</p>
      <div class="footer-bottom__accept">
        We accept
        <img class="footer-bottom__accept-img" src="img/master-card.png" alt="accept">
        <img class="footer-bottom__accept-img" src="img/visa.png" alt="accept">
        <img class="footer-bottom__accept-img" src="img/paypal.png" alt="accept">
      </div>
    </div>
  </div>
</footer>
