<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="#" class="logo">
        <img src="img/logo.svg" alt="" class="logo__img" />
      </a>
      <nav class="menu header__menu" data-menu>
        <ul class="list-reset menu__list">
          <li class="menu__item"><a href="#" class="menu__link menu__link--active">Home</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Shop</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Page</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>
          <li class="menu__item"><a href="#" class="menu__link">Contact</a></li>
        </ul>
      </nav>
      <div class="user-nav">
        <a href="#" class="user-nav__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
        </a>
        <a href="#" class="user-nav__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </a>
        <a href="#" class="user-nav__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#heart"></use>
          </svg>
          <div class="user-nav__num">3</div>
        </a>
        <a href="#" class="user-nav__link">
          <svg class="">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <div class="user-nav__num">7</div>
        </a>
      </div>
    </div>
  </div>
</header>
