<section class="hero">
  <div class="container hero__container">
    <div class="hero__inner">
      <div class="swiper hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero__item">
            <div class="hero__content">
              <h3 class="hero__title">
                New Season<br>
                New Brand Collection
              </h3>
              <p class="hero__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
              <a href="#" class="hero__link">buy now</a>
            </div>
            <img src="img/slide-1.png" alt="" class="hero__img">
          </div>
          <div class="swiper-slide hero__item">
            <div class="hero__content">
              <h3 class="hero__title">
                New Season<br>
                New Brand Collection
              </h3>
              <p class="hero__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
              <a href="#" class="hero__link">buy now</a>
            </div>
            <img src="img/slide-1.png" alt="" class="hero__img">
          </div>
          <div class="swiper-slide hero__item">
            <div class="hero__content">
              <h3 class="hero__title">
                New Season<br>
                New Brand Collection
              </h3>
              <p class="hero__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
              <a href="#" class="hero__link">buy now</a>
            </div>
            <img src="img/slide-1.png" alt="" class="hero__img">
          </div>
          <div class="swiper-slide hero__item">
            <div class="hero__content">
              <h3 class="hero__title">
                New Season <br>
                New Brand Collection
              </h3>
              <p class="hero__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                et dolore magna aliqua. Ipsum.
              </p>
              <a href="#" class="hero__link">buy now</a>
            </div>
            <img src="img/slide-1.png" alt="" class="hero__img">
          </div>
        </div>
          <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
