<section class="product">
  <div class="container">
    <h3 class="title product__title">TRENDING PRODUCTS</h3>
    <p class="text product__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe
      tempor incididunt ut labore et dolore aliqua.
    </p>
    <div class="product__items">
      <div class="product-item">
        <div class="product-item__img-box">
          <img src="img/product-1.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars">
            
          </div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
      <div class="product-item product-item--sale">
        <div class="product-item__img-box">
          <img src="img/product-2.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars"></div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="product-item__img-box">
          <img src="img/product-3.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars"></div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
      <div class="product-item product-item--sale">
        <div class="product-item__img-box">
          <img src="img/product-4.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars"></div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
      <div class="product-item">
        <div class="product-item__img-box">
          <img src="img/product-5.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars"></div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
      <div class="product-item product-item--sale">
        <div class="product-item__img-box">
          <img src="img/product-6.jpg" alt="Product" class="product-item__images" />
          <div class="product-item__link-box">
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#search"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
            </a>
            <a href="#" class="product-item__link">
              <svg class="product-item__icon">
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </a>
          </div>
          <div class="product-item__stars"></div>
          <h4 class="product-item__title">White Polo Men’s T-Shirt</h4>
          <div class="product-item__price">
            <div class="product-item__price--new">$34.00</div>
            <div class="product-item__price--old">$27.00</div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="product__btn">LOAD MORE</a>
  </div>
</section>
